<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601802011959-6i7393uk7qmod3g88ls48n2ubcnuetmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601802011959-6i7393uk7qmod3g88ls48n2ubcnuetmi</string>
	<key>API_KEY</key>
	<string>AIzaSyAPaBsRibkw5jY3BHw1cEGXth7THqk0dLo</string>
	<key>GCM_SENDER_ID</key>
	<string>601802011959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hieuvm.20183917.Eface</string>
	<key>PROJECT_ID</key>
	<string>test-4dcc6</string>
	<key>STORAGE_BUCKET</key>
	<string>test-4dcc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601802011959:ios:d42d5ef778254636a316b2</string>
</dict>
</plist>